#pgbTestVersion {  font-family: 'Css.9MayA';
    display: none;
}/* font-family used to make version accessible to javascript */
/*
 * 9May infoBox left 5%
 * 7May  switch Events & Debug, lighten Version
 * 17Feb .sel
 * 16Feb  #jeb-Cmd
 * 15Feb  jebScaleX jeb-Bigger jeb-Smaller
 * 13Feb  .infoBox
 * 9Feb  create based on loot4u.css
 ******************/

.hidden {
    display: none;
}

html, body {
    color: white;
    margin: 0em;
    padding: 0em;
    height: 99%;
    background-color: #1d85f8;
}
div#preload {
    display: none;
}
.jebScale1 { font-size: 8px; }
.jebScale2 { font-size: 10px; }
.jebScale3 { font-size: 12px; }
.jebScale4 { font-size: 15px; }
.jebScale5 { font-size: 18px; }
.jebScale6 { font-size: 21px; }
.jebScale7 { font-size: 24px; }
.greenGrad {/* hsl(93,184,40)=#0a4b1f top dark green to  hsl(93,185,130)=#2ee469 bottom light green */
    background-color: #2ee469;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2ee469), to(#0a4b1f)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #0a4b1f, #2ee469); /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, #0a4b1f, #2ee469); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #0a4b1f, #2ee469); /* IE 10 */
    background: -o-linear-gradient(top, #0a4b1f, #2ee469); /* Opera 11.10+ */
}
.blueGrad {/* hsl(141,224,40)=#032852 top dark blue to  hsl(141,224,130)=#1d85f8 bottom light blue */
    background-color: #1d85f8;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1d85f8), to(#032852)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #032852, #1d85f8); /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, #032852, #1d85f8); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #032852, #1d85f8); /* IE 10 */
    background: -o-linear-gradient(top, #032852, #1d85f8); /* Opera 11.10+ */
}

#jeb-Body { min-height:100%; width: 100%; position: relative; }
#jeb-Foot { position: absolute; bottom: 0; height: 2.1em;  width: 100%; text-align: center; }

.jebPage { font-family: Helvetica, Arial, sans-serif; padding: 0.2em; padding-bottom: 2.2em; display: none; }

.jebButton a { display:inline-block; text-align:center; border-radius: 0.6em; color: black; min-width: 4em; line-height: 1.2em; margin: 0.25em 0.45em 0.25em 0.45em; padding: 0.25em 0.15em 0.25em 0.15em; border: 1px solid #B3D4FC; background: white; }
.jebButton a:hover {  box-shadow: 0em 0em 0.5em 0.5em #aaffaa inset; }
.jebSmButton a { display:inline-block; text-align:center; border-radius: 15px; color: black; min-width: 30px; line-height: 30px; margin: 5px; padding: 3px; border: 1px solid #B3D4FC; background: white; }
.jebSmButton a:hover {  box-shadow: 0em 0em 0.5em 0.5em #aaffaa inset; }

#jeb-Bigger { font-size: 120%; }
#jeb-Smaller { font-size: 80%; }

.sel { color: #ffff00; }

#home-head, #about-head, #settings-head { text-align: center; font-weight: bold; font-size: 110%; }

.infoBox {
    padding: 0.2em;
    background-color: rgba(64,64,64, .7);
    color: white;
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 30;
    display: none;
}
#usermessage {
    background-color: rgba(64,64,64, .7);
    color: white;
    font-size: 120%;
    position: absolute;
    top: 15%;
    left: 20%;
    z-index: 30;
    display: none;
}
#jeb-Version {
    background-color: rgba(130,130,130, .7);
    color: black;
    top: 5%;
}
#jeb-Cmd { display:none; }
#jeb-PGEvents {
    background-color: rgba(255,255,64, .7);
    color: black;
    font-size: 80%;
    top: 20%;
}
#jeb-Debug {
    background-color: rgba(64,255,128, .7);
    color: black;
    font-size: 70%;
    top: 30%;
}

.jebPage {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0.2em;
    padding-bottom: 2.2em;
    display: none;
}

